* {
  color: antiquewhite;
}

.App {
  font-family: cursive;
  margin-top: -1px;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(5, 5, 5);
  margin-bottom: 50px;
  border-bottom: blanchedalmond;
}

nav h1 {
  font-size: 50px;
  color: antiquewhite;
}

.nav-links {
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



footer {
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
  margin-bottom: 20px;
  color: antiquewhite;
}

footer h1 {
  color: antiquewhite;
}

.home {
  margin: auto;
  width: 500px;
  height: 300px;
}

.home h1 {
  font-size: 60px;
  color: antiquewhite;
  font-style: oblique;
}

li:hover {
  padding: 15px;
}

.about-me {
  margin: auto;
  display: flex;
  width: min-content;
}

.photo {
  object-fit: fill;
}

.text-footer h2 {
  color: antiquewhite;
}

.cards__container {
  display: flex;
  width: 250px;
  height: 300px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.image__container {
  flex: 3;
}

.text__container {
  flex: 1;
}

.cards__page {
  display: flex;
  justify-content: space-evenly;
}

.image__core {
  object-fit: fill;
  border-radius: 50px;
}

.bigger {
  object-fit: fill;
  border-radius: 50px;
  width: 230px;
  height: 230px;
}

.book__container {
  /* background-color: aqua; */
  max-width: 250px;
  max-height: 250px;
  display: flex;
  margin: 20px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.bookdelete__btn {
  color: rgb(7, 7, 7);
  padding: 5px;
  border-radius: 10px;
  border-style: none;
}

.ebook__library {
  margin: auto;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: aquamarine; */
}

.book_data h3 {
  color: antiquewhite;
}

.book_data {
  background-color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  justify-content: space-between;
}