.App {
  font-family: cursive;
  margin-top: -1px;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(5, 5, 5);
  margin-bottom: 50px;
  border-bottom: blanchedalmond;
}

nav h1 {
  font-size: 50px;
  color: antiquewhite;
}

.nav-links {
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



footer {
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
  margin-bottom: 20px;
  color: antiquewhite;
}

footer h1 {
  color: antiquewhite;
}

.home {
  margin: auto;
  width: 500px;
  height: 300px;
}

.home h1 {
  font-size: 60px;
  color: antiquewhite;
  font-style: oblique;
}

li:hover {
  padding: 15px;
}

.about-me {
  margin: auto;
  display: flex;
  width: min-content;
}

.photo {
  object-fit: fill;
}

.text-footer h2 {
  color: antiquewhite;
}

.working-page {
  width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  border: 1px solid white;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: row;
  margin: auto;
  border: 2px solid red;
}

.cards-content {
  border: 2px solid red;
  width: 200px;
  height: 300px;
  background-color: rosybrown;
}

.cards-content-blue {
  border: 2px solid red;
  width: 200px;
  height: 300px;
  background-color: rgb(15, 12, 168);
}

.cards-content-green {
  border: 2px solid red;
  width: 200px;
  height: 300px;
  background-color: rgb(8, 252, 28);
}

.cards-content-pink {
  border: 2px solid red;
  width: 200px;
  height: 300px;
  background-color: rgb(251, 128, 255);
}

.cards-content-yellow {
  border: 2px solid red;
  width: 200px;
  height: 300px;
  background-color: rgb(219, 243, 4);
}